<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                Thunder SSO
                @*<small>(build {version})</small>*@
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">

            <p><a class="btn btn-default" href="~/grants">Manage application permissions</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8" style="margin-top:20px">
            <p><a href="#">Thunder Chat</a></p>
            <p><a href="#">Thunder Admin</a></p>
        </div>
    </div>
</div>
